{% extends 'student_management/layout.html' %}
{% block body %}
{% if message %}
<h5>{{message}}</h5>
{% endif %}
<h1>Enter the detail of student to delete record</h1>
<form action="{% url 'delete' %}" method="post">
    {% csrf_token %}
      <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name='name'>
        </div>
      </div>
      
     
      <button type="submit" class="btn btn-primary">Delete Student</button>
    </form>
{% endblock %}