{% extends "student_management/layout.html" %}
{% block body %}
<h1>Welcome to Student Management System</h1>
<div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">
    <a href="{% url 'index' %}"><button type="button" class="btn btn-primary">Home</button></a>
    <a href="{% url 'add' %}"><button type="button" class="btn btn-primary">Add student</button></a>
    <a href="{% url 'update' %}"><button type="button" class="btn btn-primary">Update student</button></a>
    <a href="{% url 'search' %}"><button type="button" class="btn btn-primary">Search student</button></a>
    <a href="{% url 'delete' %}"><button type="button" class="btn btn-primary">Delete student</button></a>
  </div>
{% if students %}
<table class="table table-success table-striped table-hover my-4">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Grade</th>
        <th scope="col">Roll no</th>
        <th scope='col'>Address</th>
        <th scope="col">Supervisior</th>
        <th scope="col">Faculty</th>
      </tr>
    </thead>
    <tbody>
        {% for student in students %}
      <tr>
        <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td>{{student.grade}}</td>
        <td>{{student.roll_no}}</td>
        <td>{{student.address}}</td>
        <td>{{student.supervisior.name}}</td>
        <td>{{student.faculty.name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<p><b>No student in record to show.</b></p>
{% endif %}



{% endblock %}