{% load static %}

<!DOCTYPE html lang="en">
<html>
    <head>
        <title>Student Management System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Welcome {{user.username}}</a>
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
                  </li>
                  {% if not user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'login'%}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'signup'%}">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'password_reset'%}">Reset Password</a>
                  </li>
                  {% endif %}
                  {% if user.is_authenticated %}
                 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Create
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'student_create'%}">Student</a></li>
                      <li><a class="dropdown-item" href="{% url 'teacher_create'%}">Teacher</a></li>
                      <li><a class="dropdown-item" href="{% url 'faculty_create'%}">Faculty</a></li>
                      <li><a class="dropdown-item" href="{% url 'subject_create'%}">Subject</a></li>
                    </ul>
                  </li>
                  {% endif %}
                  
                </ul>
               
              </div>
            </div>
            <div class="container-fluid">
                <span class="navbar-text fs-3 text-white">
                Student Management System
                </span>
              </div>
              {%if user.is_authenticated %}
            <div class="navbar-collapse collapse w-50 order-3 dual-collapse2">
              <div class="dropdown ">
                <button class="btn btn-warning rounded-circle dropdown-toggle text-white fs-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  {{user.username|slice:1|title}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="{% url 'logout'%}">Logout</a></li>
                  <li><a class="dropdown-item" href="{% url 'change'%}">Change Password</a></li>
                  
                </ul>
              </div>
            </div>
            {% endif %}
          </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>