{% extends 'layout.html' %}
{% block body %}
<h1>Subject List View</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
          
          <th scope="col">Name</th>
          <th scope="col">Teacher</th>
          <th scope="col">Faculty</th>

          
        </tr>
      </thead>
      <tbody>
          {% for subject in object_list %}
        <tr>
         
          <td>{{subject.name}}</td>
          <td>{% for t in subject.teacher.all %}{{t.fullname}}{% endfor%}</td>
          <td>{% for f in subject.contains.all %}{{f.name}}{% endfor %}
            &nbsp;{% if user.is_authenticated %}
            <a href="{% url 'subject_update' subject.pk%}"> 
                <button class="btn btn-primary">
                    Update

                </button>
            </a>
            <a href="{% url 'subject_delete' subject.pk%}"> 
                <button class="btn btn-primary">
                   Delete

                </button>
            </a>
            {% endif %}
          </td>
          
          
        </tr>
        {% endfor %}
        
       
      </tbody>
</table>


{% endblock %}